muicore @ git+https://github.com/trailofbits/ManticoreUI-Ghidra.git@06657b0ba2fbd227b7e5b265acef2caa698a1a9e#subdirectory=MUICore
pygments>=2.7.0,<2.9.0
crytic-compile==0.2.2
pyelftools
unicorn==1.0.2
grpcio-tools==1.46.3
