muicore @ git+https://github.com/trailofbits/ManticoreUI-Ghidra.git@f36978070630540fbf1947ec067cc2f625cf8b6f#subdirectory=MUICore
pygments>=2.7.0,<2.9.0
crytic-compile==0.2.2
pyelftools
unicorn==1.0.2
grpcio-tools==1.46.3
